<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create customer</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/create-customer.css}">
</head>
<body style="background-color: #121212;">

<div class="container-fluid d-flex justify-content-center mt-3">
    <div class="login-form">
        <h3 class="text-center text-white">ADD NEW CUSTOMER</h3>
        <form class="internet-form"
              th:action="@{/customer/create}"
              th:object="${customerDto}"
              method="post">
            <div class="row my-4">
                <div class="col-md-3" style="padding-right: 15px">
                    <div class="form-floating textbox mb-4">
                        <input th:field="*{customerId}" type="text"
                               class="form-control input" id="customerId"
                               placeholder="Họ và tên" autocomplete="off"
                               onblur="validateByJS(this.id,'customerId',this.value)"
                        />
                        <label for="customerId" style="color: white"> Code
                            (CUSxxxxx) <span class="text-danger">*</span>
                        </label>
                        <span id="customerId1" class="text-danger" th:if="${#fields.hasErrors('customerId')}"
                              th:errors="*{customerId}"></span>
                    </div>
                </div>
                <div class="col-md-6" style="padding-right: 15px">
                    <div class="form-floating textbox mb-4">
                        <input th:field="*{customerName}" type="text" class="form-control input"
                               id="customerName" placeholder="Họ và tên" autocomplete="off"
                               onblur="validateByJS(this.id,'customerName',this.value)"
                        />
                        <label for="customerName" style="color: white"> Full name <span
                                class="text-danger">*</span>
                        </label>
                        <span id="customerName1" class="text-danger" th:if="${#fields.hasErrors('customerName')}"
                              th:errors="*{customerName}"></span>
                    </div>
                </div>

                <div class="col-md-3" style="padding-right: 15px">
                    <div class="form-floating textbox mb-4">
                        <input th:field="*{phoneNumber}" type="text"
                               class="form-control input" id="phoneNumber"
                               placeholder="Họ và tên" autocomplete="off"
                               onblur="validateByJS(this.id,'phoneNumber',this.value)"
                        />
                        <label for="phoneNumber" style="color: white"> Phone <span
                                class="text-danger">*</span>
                        </label>
                        <span id="phoneNumber1" class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}"
                              th:errors="*{phoneNumber}"></span>
                    </div>
                </div>


            </div>
            <div class="row my-4">
                <div class="col-md-6" style="padding-right: 15px">
                    <div class="form-floating textbox mb-4">
                        <input th:field="*{email}" type="email" class="form-control input"
                               id="email" placeholder="example@gmail.com" autocomplete="off"
                               onblur="validateByJS(this.id,'email',this.value)"
                        />
                        <label for="email" style="color: white"> Email <span
                                class="text-danger">*</span>
                        </label>
                        <span id="email1" class="text-danger" th:if="${#fields.hasErrors('email')}"
                              th:errors="*{email}"></span>
                    </div>
                </div>

                <div class="col-md-6" style="padding-right: 15px">
                    <div class="form-floating textbox mb-4">
                        <input th:field="*{address}" type="text" class="form-control input"
                               id="address" placeholder="Họ và tên" autocomplete="off"
                               onblur="validateByJS(this.id,'address',this.value)"
                        />
                        <label for="address" style="color: white"> Address <span
                                class="text-danger">*</span>
                        </label>
                        <span id="address1" class="text-danger" th:if="${#fields.hasErrors('address')}"
                              th:errors="*{address}"></span>
                    </div>
                </div>
            </div>

            <div class="row my-4">
                <div class="col-md-4 my-4"></div>
                <div class="col-md-4" style="text-align: center; width: 100%">
                    <button type="submit" name="button"
                            class="btn btn-primary btn-responsive w-25" style="height: 40px">Add
                        new
                    </button>

                    <a href="${pageContext.request.contextPath}/customer/list"
                       class="w-25 btn btn-outline-light btn-responsive w-25 ms-3"
                       style="height: 40px"> Cancel </a>

                </div>
                <div class="col-md-4"></div>
            </div>
        </form>
    </div>
</div>
</body>


<script>

    var valid = [];
    function validateByJS(id, nameInput, valueInput) {
        const index = valid.findIndex(obj => obj.hasOwnProperty(id));
        let checkVar = checkValidate(valueInput,nameInput)
        console.log(checkVar)
        if (checkVar !== "") {
            if (index !== -1) {
                valid[index][id]= true
                console.log(valid)
            }else {
                valid = [...valid, {[id]: true }];
                console.log(valid);
            }
            document.getElementById(id+"1").innerText= checkVar
        } else {
            console.log(index)
            if (index !== -1) {
                valid[index][id]= false
                document.getElementById(id+"1").innerText=""
                console.log(valid);
            }
        }
        let check = true
        valid.forEach(item=> {

            if(item[Object.keys(item)[0]]){
                document.getElementById("submitBtn").disabled = true
                check= false
            }

        })
        if(check) {
            document.getElementById("submitBtn").disabled = false
        }
    }

    function checkValidate(value, nameValidate) {

        const codeRegex = /^CUS\d{5}$/;

        if(value === "" || value === 0 ) {
            return "Required!";
        }

        if(nameValidate === 'computerId') {
            if(!value.match(codeRegex)) {
                return "Wrong format CUSxxxxx";
            }
        }

        return "";

    }

</script>

</html>